@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&family=Unbounded:wght@300;400&display=swap');

* , *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}  
body{
  font-family: 'Open Sans', sans-serif;
  background-color:#222
}
/* WRAPPER SECTION START */
.wrapper { 
  padding-left: 387px;
  padding-right: 387px;
}
/* WRAPPER SECTION END*/

@media(max-width:1404px){
  .wrapper{
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media(max-width:1050px){
  .wrapper{
    padding-left: 50px;
    padding-right: 50px;
  }
}

.my-custom-btn{
  background: #3A68B8;
  border-radius: 5px;
  color: white;
  width: 112px;
  height: 52px;
  left: 1421px;
  top: 24px;

}